src/wsdl/localhost_8080/cpp-ws/ReghospHsubService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://reghosphsubservice.wsinf.cppws.nhso.geniustree.co.th" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reghosphsubservice.wsinf.cppws.nhso.geniustree.co.th">

<xs:element name="ReghospHsub" type="tns:reghospHsub"/>

<xs:element name="hsubAll" type="tns:hsubAll"/>

<xs:element name="hsubAllResponse" type="tns:hsubAllResponse"/>

<xs:complexType name="hsubAll">
<xs:sequence>
<xs:element name="page" type="xs:int" minOccurs="0"/>
<xs:element name="size" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hsubAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:reghospHsub" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reghospHsub">
<xs:sequence>
<xs:element name="hcode" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:decimal" minOccurs="0"/>
<xs:element name="PM111" type="xs:string" minOccurs="0"/>
<xs:element name="PM112" type="xs:string" minOccurs="0"/>
<xs:element name="PM113" type="xs:string" minOccurs="0"/>
<xs:element name="PM114" type="xs:string" minOccurs="0"/>
<xs:element name="PM121" type="xs:integer" minOccurs="0"/>
<xs:element name="PM122" type="xs:integer" minOccurs="0"/>
<xs:element name="PM123" type="xs:integer" minOccurs="0"/>
<xs:element name="PM131" type="xs:string" minOccurs="0"/>
<xs:element name="PM132" type="xs:integer" minOccurs="0"/>
<xs:element name="PM141" type="xs:string" minOccurs="0"/>
<xs:element name="PM142" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S1" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S2" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S3" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S4" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S5" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S6" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S7" type="xs:string" minOccurs="0"/>
<xs:element name="PM211S8" type="xs:string" minOccurs="0"/>
<xs:element name="PM212" type="xs:string" minOccurs="0"/>
<xs:element name="PM213" type="xs:string" minOccurs="0"/>
<xs:element name="PM214" type="xs:string" minOccurs="0"/>
<xs:element name="PM221" type="xs:string" minOccurs="0"/>
<xs:element name="PM221S1" type="xs:string" minOccurs="0"/>
<xs:element name="PM221S2" type="xs:string" minOccurs="0"/>
<xs:element name="PM221S3" type="xs:string" minOccurs="0"/>
<xs:element name="PM221S4" type="xs:string" minOccurs="0"/>
<xs:element name="PM221S5" type="xs:string" minOccurs="0"/>
<xs:element name="PM222" type="xs:string" minOccurs="0"/>
<xs:element name="PM223" type="xs:string" minOccurs="0"/>
<xs:element name="PM231" type="xs:string" minOccurs="0"/>
<xs:element name="PM232" type="xs:string" minOccurs="0"/>
<xs:element name="PM233" type="xs:string" minOccurs="0"/>
<xs:element name="PM241" type="xs:string" minOccurs="0"/>
<xs:element name="PM242" type="xs:string" minOccurs="0"/>
<xs:element name="PM243" type="xs:string" minOccurs="0"/>
<xs:element name="PM244" type="xs:integer" minOccurs="0"/>
<xs:element name="PM24R" type="xs:integer" minOccurs="0"/>
<xs:element name="PM251" type="xs:string" minOccurs="0"/>
<xs:element name="PM252" type="xs:string" minOccurs="0"/>
<xs:element name="PM253" type="xs:string" minOccurs="0"/>
<xs:element name="PM261" type="xs:string" minOccurs="0"/>
<xs:element name="PM262" type="xs:string" minOccurs="0"/>
<xs:element name="PM263" type="xs:integer" minOccurs="0"/>
<xs:element name="PM271" type="xs:string" minOccurs="0"/>
<xs:element name="PM272" type="xs:string" minOccurs="0"/>
<xs:element name="PM273" type="xs:string" minOccurs="0"/>
<xs:element name="PM281" type="xs:string" minOccurs="0"/>
<xs:element name="PM282" type="xs:string" minOccurs="0"/>
<xs:element name="PM283" type="xs:string" minOccurs="0"/>
<xs:element name="PM284" type="xs:string" minOccurs="0"/>
<xs:element name="PM311" type="xs:integer" minOccurs="0"/>
<xs:element name="PM312" type="xs:integer" minOccurs="0"/>
<xs:element name="PM313" type="xs:integer" minOccurs="0"/>
<xs:element name="PM314" type="xs:integer" minOccurs="0"/>
<xs:element name="PM315" type="xs:integer" minOccurs="0"/>
<xs:element name="PM321" type="xs:integer" minOccurs="0"/>
<xs:element name="PM322" type="xs:integer" minOccurs="0"/>
<xs:element name="PM323" type="xs:integer" minOccurs="0"/>
<xs:element name="PM324" type="xs:integer" minOccurs="0"/>
<xs:element name="PM325" type="xs:integer" minOccurs="0"/>
<xs:element name="PM331" type="xs:integer" minOccurs="0"/>
<xs:element name="PM332" type="xs:integer" minOccurs="0"/>
<xs:element name="PM333" type="xs:integer" minOccurs="0"/>
<xs:element name="PM334" type="xs:integer" minOccurs="0"/>
<xs:element name="PM335" type="xs:integer" minOccurs="0"/>
<xs:element name="PM336" type="xs:integer" minOccurs="0"/>
<xs:element name="PM337" type="xs:integer" minOccurs="0"/>
<xs:element name="PM341" type="xs:string" minOccurs="0"/>
<xs:element name="PM3410" type="xs:integer" minOccurs="0"/>
<xs:element name="PM3411" type="xs:integer" minOccurs="0"/>
<xs:element name="PM342" type="xs:string" minOccurs="0"/>
<xs:element name="PM343" type="xs:integer" minOccurs="0"/>
<xs:element name="PM344" type="xs:integer" minOccurs="0"/>
<xs:element name="PM345" type="xs:integer" minOccurs="0"/>
<xs:element name="PM346" type="xs:integer" minOccurs="0"/>
<xs:element name="PM347" type="xs:integer" minOccurs="0"/>
<xs:element name="PM348" type="xs:integer" minOccurs="0"/>
<xs:element name="PM349" type="xs:integer" minOccurs="0"/>
<xs:element name="PM351" type="xs:string" minOccurs="0"/>
<xs:element name="PM352" type="xs:string" minOccurs="0"/>
<xs:element name="PM353" type="xs:integer" minOccurs="0"/>
<xs:element name="PM355" type="xs:integer" minOccurs="0"/>
<xs:element name="PM361" type="xs:integer" minOccurs="0"/>
<xs:element name="PM362" type="xs:integer" minOccurs="0"/>
<xs:element name="PM364" type="xs:integer" minOccurs="0"/>
<xs:element name="PM371" type="xs:integer" minOccurs="0"/>
<xs:element name="PM372" type="xs:integer" minOccurs="0"/>
<xs:element name="PM373" type="xs:integer" minOccurs="0"/>
<xs:element name="PM374" type="xs:integer" minOccurs="0"/>
<xs:element name="PM375" type="xs:integer" minOccurs="0"/>
<xs:element name="PM411" type="xs:string" minOccurs="0"/>
<xs:element name="PM412" type="xs:string" minOccurs="0"/>
<xs:element name="PM413" type="xs:string" minOccurs="0"/>
<xs:element name="PM421" type="xs:string" minOccurs="0"/>
<xs:element name="PM422" type="xs:string" minOccurs="0"/>
<xs:element name="PM431" type="xs:string" minOccurs="0"/>
<xs:element name="PM432" type="xs:string" minOccurs="0"/>
<xs:element name="PM433" type="xs:string" minOccurs="0"/>
<xs:element name="PM434" type="xs:string" minOccurs="0"/>
<xs:element name="PM441" type="xs:string" minOccurs="0"/>
<xs:element name="PM442" type="xs:string" minOccurs="0"/>
<xs:element name="PM443" type="xs:string" minOccurs="0"/>
<xs:element name="PM444" type="xs:string" minOccurs="0"/>
<xs:element name="PM451" type="xs:integer" minOccurs="0"/>
<xs:element name="PM452" type="xs:string" minOccurs="0"/>
<xs:element name="PM46A1" type="xs:string" minOccurs="0"/>
<xs:element name="PM46A2" type="xs:string" minOccurs="0"/>
<xs:element name="PM46A3" type="xs:string" minOccurs="0"/>
<xs:element name="PM46A4" type="xs:string" minOccurs="0"/>
<xs:element name="PM46B1" type="xs:string" minOccurs="0"/>
<xs:element name="PM46B2" type="xs:string" minOccurs="0"/>
<xs:element name="PM46B3" type="xs:string" minOccurs="0"/>
<xs:element name="PM46B4" type="xs:string" minOccurs="0"/>
<xs:element name="PM46B5" type="xs:string" minOccurs="0"/>
<xs:element name="PM46B6" type="xs:string" minOccurs="0"/>
<xs:element name="PM46C1" type="xs:string" minOccurs="0"/>
<xs:element name="PM46C2" type="xs:string" minOccurs="0"/>
<xs:element name="PM46C3" type="xs:string" minOccurs="0"/>
<xs:element name="PM46C4" type="xs:string" minOccurs="0"/>
<xs:element name="PM511" type="xs:string" minOccurs="0"/>
<xs:element name="PM512" type="xs:string" minOccurs="0"/>
<xs:element name="PM513" type="xs:string" minOccurs="0"/>
<xs:element name="PM514" type="xs:string" minOccurs="0"/>
<xs:element name="PM5211" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5212" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5213" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5214" type="xs:string" minOccurs="0"/>
<xs:element name="PM5221" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5222" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5223" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5224" type="xs:string" minOccurs="0"/>
<xs:element name="PM5231" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5232" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5233" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5234" type="xs:string" minOccurs="0"/>
<xs:element name="PM5241" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5242" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5243" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5244" type="xs:string" minOccurs="0"/>
<xs:element name="PM5251" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5252" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5253" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5254" type="xs:string" minOccurs="0"/>
<xs:element name="PM5261" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5262" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5263" type="xs:integer" minOccurs="0"/>
<xs:element name="PM5264" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>