src/wsdl/localhost_8080/cpp-ws/ReghospHsubService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://reghosphmainopservice.wsinf.cppws.nhso.geniustree.co.th" xmlns:ns1="http://reghosphsubservice.wsinf.cppws.nhso.geniustree.co.th" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reghosphmainopservice.wsinf.cppws.nhso.geniustree.co.th">

<xs:import namespace="http://reghosphsubservice.wsinf.cppws.nhso.geniustree.co.th" schemaLocation="http://localhost:8080/cpp-ws/ReghospHsubService?xsd=1"/>

<xs:element name="hmainOpAll" type="tns:hmainOpAll"/>

<xs:element name="hmainOpAllResponse" type="tns:hmainOpAllResponse"/>

<xs:element name="reghospHmainop" type="ns1:reghospHmainop"/>

<xs:complexType name="hmainOpAll">
<xs:sequence>
<xs:element name="page" type="xs:int"/>
<xs:element name="size" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hmainOpAllResponse">
<xs:sequence>
<xs:element name="return" type="ns1:reghospHmainop" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

</xs:schema>