src/wsdl/localhost_8080/cpp-ws/ReghospHjoinService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://reghosphjoinservice.wsinf.cppws.nhso.geniustree.co.th" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://reghosphjoinservice.wsinf.cppws.nhso.geniustree.co.th">

<xs:element name="ReghospHjoin" type="tns:reghospHjoin"/>

<xs:element name="hjoinAll" type="tns:hjoinAll"/>

<xs:element name="hjoinAllResponse" type="tns:hjoinAllResponse"/>

<xs:complexType name="hjoinAll">
<xs:sequence>
<xs:element name="hcode" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hjoinAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:reghospHjoin" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reghospHjoin">
<xs:sequence>
<xs:element name="c11R" type="xs:integer" minOccurs="0"/>
<xs:element name="c12R" type="xs:integer" minOccurs="0"/>
<xs:element name="c131R" type="xs:integer" minOccurs="0"/>
<xs:element name="c132R" type="xs:integer" minOccurs="0"/>
<xs:element name="c133R" type="xs:integer" minOccurs="0"/>
<xs:element name="c134R" type="xs:integer" minOccurs="0"/>
<xs:element name="c21R" type="xs:integer" minOccurs="0"/>
<xs:element name="c22R" type="xs:integer" minOccurs="0"/>
<xs:element name="c231R" type="xs:integer" minOccurs="0"/>
<xs:element name="c232R" type="xs:integer" minOccurs="0"/>
<xs:element name="c233R" type="xs:integer" minOccurs="0"/>
<xs:element name="c234R" type="xs:integer" minOccurs="0"/>
<xs:element name="c31R" type="xs:integer" minOccurs="0"/>
<xs:element name="c32R" type="xs:integer" minOccurs="0"/>
<xs:element name="c331R" type="xs:integer" minOccurs="0"/>
<xs:element name="c332R" type="xs:integer" minOccurs="0"/>
<xs:element name="c333R" type="xs:integer" minOccurs="0"/>
<xs:element name="c41R" type="xs:integer" minOccurs="0"/>
<xs:element name="c42R" type="xs:integer" minOccurs="0"/>
<xs:element name="c431R" type="xs:integer" minOccurs="0"/>
<xs:element name="c432R" type="xs:integer" minOccurs="0"/>
<xs:element name="c433R" type="xs:integer" minOccurs="0"/>
<xs:element name="c434R" type="xs:integer" minOccurs="0"/>
<xs:element name="c51R" type="xs:integer" minOccurs="0"/>
<xs:element name="c52R" type="xs:integer" minOccurs="0"/>
<xs:element name="c531R" type="xs:integer" minOccurs="0"/>
<xs:element name="c532R" type="xs:integer" minOccurs="0"/>
<xs:element name="c533R" type="xs:integer" minOccurs="0"/>
<xs:element name="c611R" type="xs:integer" minOccurs="0"/>
<xs:element name="c612R" type="xs:integer" minOccurs="0"/>
<xs:element name="c613R" type="xs:integer" minOccurs="0"/>
<xs:element name="c614R" type="xs:integer" minOccurs="0"/>
<xs:element name="c621R" type="xs:integer" minOccurs="0"/>
<xs:element name="c622R" type="xs:integer" minOccurs="0"/>
<xs:element name="c631R" type="xs:integer" minOccurs="0"/>
<xs:element name="c641R" type="xs:integer" minOccurs="0"/>
<xs:element name="c642R" type="xs:integer" minOccurs="0"/>
<xs:element name="c643R" type="xs:integer" minOccurs="0"/>
<xs:element name="c644R" type="xs:integer" minOccurs="0"/>
<xs:element name="c6451R" type="xs:integer" minOccurs="0"/>
<xs:element name="c6452R" type="xs:integer" minOccurs="0"/>
<xs:element name="c646R" type="xs:integer" minOccurs="0"/>
<xs:element name="hcode" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>